<div class="row">
  <div class="col-xs-8 col-xs-offset-2">
    <div class="well well-lg">
      <div class="article-title">
        <%= question.id %>
      </div>
      <div class="article-body">
        <%= question.body %>
      </div>
      <div class="article-actions">
        <%= link_to "Show", question_path(question) %>
        <%= link_to "Edit", edit_question_path(question), class: "btn btn-xs btn-primary" %>
        <%= link_to "Delete", question_path(question), method: :delete, data:
        { confirm: "Are you sure you want to delete the question?" }, class: "btn btn-xs btn-danger" %>
      </div>
    </div>
  </div>
</div>
