<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Admin Panel TestGuru", root_path, class: "navbar-brand" %>
    </div>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "All Tests", admin_tests_path %></li>
        <li><%= link_to "New Test", new_admin_test_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <li>Welcome, <b><%= current_user.fullname %></br> Guru</li>
      </ul>
  </div>
</nav>
