<nav class="navbar navbar-light bg-light">
  <%= link_to t('.brand'), root_path, class: "navbar-brand" %>
  <span class="navbar-text">
    <%= t('.welcome') %>, <b><%= current_user.full_name %></b> |
    <%= link_to t('.header'), admin_tests_path %> |
    <%= link_to t('.new_test'), new_admin_test_path %> |
    <%= link_to t('.logout'), destroy_user_session_path, method: :delete %>
  </span>
</nav>
