<div class="row">
  <h1><%= t('.header', title: @test_passage.test.title ) %></h1>
  <h2><%= t('.result_test') %>
    <span class="<%= @test_passage.success? ? 'success' : 'failed' %>">
      <%= number_to_percentage(@test_passage.result, precision: 2) %>
    </span>
  <h2>

  <ul>
    <li><%= t('.correct_answer') %> <%= @test_passage.correct_question %></li>
    <li><%= t('.number_questions') %> <%= @test_passage.questions_count %></li>
  </ul>
  <div class="article-actions">
    <%= link_to t('.tests'), tests_path %>
  </div>
</div>
