<h1><%= t('.header_test', title: @test_passage.test.title) %></h1>
<h2><%= t('.question_next', id: @test_passage.current_question_index, title: @test_passage.test.questions.count) %></h2>

<b>
  <%= @test_passage.current_question.body %>
</b>

<%= form_with url: test_passage_path(@test_passage), local: true, method: :put do |form| %>
  <%= form.collection_check_boxes :answer_ids, @test_passage.current_question.answers, :id, :title, include_hidden:
  false do |b| %>
    <p>
      <%= b.check_box id: "answer_ids_#{b.object.id}" %>
      <%= b.label %>
    </p>
  <% end %>

  <p><%= form.submit t('.next'), class: 'btn btn-custom2' %></p>
<% end %>
