<div class="container">
  <footer class="footer">
    <small>
      Copyright &copy; <%= github_url('railsroger', 'TestGuru', 'TestGuru') %> <%= current_year %>
      <%= t('.project') %> <a href="http://thinknetica.com/" target="_blank"><%= t('.school') %></a>
    </small>
    <nav>
      <ul>
        <li><%= link_to t('.tests'), tests_path %></li>
      </ul>
    </nav>
  </footer>
</div>
