<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to t('.brand'), root_path, class: "navbar-brand" %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to t('.tests'), tests_path %></li>
        <li><%= link_to t('.logout'), destroy_user_session_path, method: :delete %></li>
        <li><%= t('.welcom') %>, <b><%= current_user.full_name %></br></li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to t('.signup'), new_user_registration_path %></li>
        <li><%= link_to t('.login'), new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
