


<nav class="navbar navbar-default">

        <div class="container">

            <div class="navbar-header">
              <%= link_to "Test Guru", root_path, class: "navbar-brand" %>
            </div>
            <% if logged_in? %>
              <ul class="nav navbar-nav navbar-right">
                <li><%= link_to "New Test", new_test_path %></li>
                <li><%= link_to "All Tests", tests_path %></li>
                <li><%= link_to "Sign Out", logout_path %></li>
                <li>Welcome, <b><%= current_user.email %></br> Guru</li>
              </ul>

            <% else %>
              <ul class="nav navbar-nav">
                <li><%= link_to "Sign Up", signup_path %></li>
                <li><%= link_to "Log In", login_path %></li>
              </ul>
            <% end %>
        </div>
    </nav>
