<nav class="navbar navbar-default">
  <div class="container">
    <div class="navbar-header">
      <%= link_to "Test Guru", root_path, class: "navbar-brand" %>
    </div>
    <% if user_signed_in? %>
      <ul class="nav navbar-nav navbar-right">
        <li><%= link_to "All Tests", tests_path %></li>
        <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>
        <li>Welcome, <b><%= current_user.full_name %></br> Guru</li>
      </ul>
    <% else %>
      <ul class="nav navbar-nav">
        <li><%= link_to "Sign Up", new_user_registration_path %></li>
        <li><%= link_to "Log In", new_user_session_path %></li>
      </ul>
    <% end %>
  </div>
</nav>
