

<%= form_with model: [:admin, @question, @answer], local: true do |form| %>
  <%= render 'shared/errors', resource: @answer %>
  <div class="form-group">
    <%= form.label :title %><br>
    <%= form.text_area :title, id: :answer_body, rows: 7, cols: 60, class: "form-control" %>
  </div>

  <div class="form-group">
    <%= form.label :correct %>
    <%= form.check_box :correct, id: :answer_correct, class: "form-control" %>
  </div>


  <p>
    <%= form.submit class: 'btn btn-custom2' %>
  </p>
<% end %>
