<h1><%= t('.answer_question') %></h1>

<p>
  <%= @answer.question.body %>
</p>

<p>
  <b><%= t('.answer') %></b>
  <%= @answer.title %>
</p>

<p>
  <b><%= t('.correct') %></b>
  <%= @answer.correct %>
</p>

<%= link_to t('.back_to_question'), admin_question_path(@answer.question) %>
