<h2 align="center">Title: <%= @question.test.title %></h2>
<div class="well col-xs-8 col-xs-offset-2">
  <hr
  <h4 class="center description"><strong>Question:</strong></h4>
  <hr>
  <%= @question.body %>
  <h4 class="center description"><strong>Answers:</strong></h4>
  <hr>
  <%= link_to 'New answer', new_admin_question_answer_path(@question) %>
  <ol>
    <%= render @question.answers %>
  </ol>
  <div class="article-actions">
    <%= link_to 'Edit', edit_admin_question_path(@question) %> |
    <%= link_to "Back", admin_test_path(@question.test), class: "btn btn-xs btn-success" %>
  </div>
</div>
