
<h1><%= t('.header') %><h1/>

<p>
  <%= link_to t('.new_test'), new_admin_test_path, class: 'btn btn-outline-warning' %>
</p>

<!--<div class="row">
  <div class="table table-sm">-->
<%= render 'shared/errors', resource: @test %>

    <table class="table">
      <thead>
        <tr>
          <th class="sort-by-title pointer">
            <%= t('.title') %>
            <%= octicon 'arrow-up', class: 'text-success hide' %>
            <%= octicon 'arrow-down', class: 'text-success hide' %>  
          </th>
          <th scope="col"><%= t('.level') %></th>
          <th scope="col"><%= t('.questions') %></th>
          <th colspan="3"><%= t('.action') %></th>
        </tr>
      </thead>
        <%= render @tests %>
    </table>
  <!--</div>
</div>-->

