<p>
  <strong><%= t('.title') %></strong>
  <%= @test.title %>
</p>

<p>
  <strong><%= t('.level') %></strong>
  <%= @test.level %>
</p>

<h2><%= t('.questions') %></h2>

<%= link_to t('.new_question'), new_admin_test_question_path(@test) %>

<ol>
  <%= render partial: 'admin/questions/question', collection: @test.questions %>
</ol>

<%= link_to t('.edit'), edit_admin_test_path(@test) %>
<%= link_to t('.back_to_tests'), admin_tests_path %>