<!DOCTYPE html>
<html>
  <head>
    <title>Testguru</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if logged_in? %>
      <p class="nav user">Welcome, <b><%= current_user.email %></br> Guru</p>
    <% end %>
    <%= render 'shared/navigation'%>
    <%= render 'shared/messages'%>
    <div class="container">
      <%= yield %>
    </div>
    <%= render 'shared/footer'%>
  </body>
</html>
